/*
nav.navbar, .navbar-default {
  background-color: green !important;
  border-color: green !important;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-size: 15px;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
}

.navbar-container {
  width: 100%;
  max-width: 1170px;
}

.navbar-collapse {
  width: 100%;
  box-sizing: border-box;
}

.mega-menu {
  width: 1000px;
}
*/
