/* navbar */

nav.navbar, .navbar-default {
  background-color: green !important;
  border-color: green !important;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-size: 16px;

}

.dropdown .dropdown-menu .dropdown-menu {
  top: -4px;
  left: 100% !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-color: #6d9b52 !important;
  background-image: none;
}

.navbar-default .dropdown {
     background-color: green;
     color:green;
}

.navbar-default .open {
     background-color: green;
     color:green;
}

.dropdown {
  color: green;
  background-color: green;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: none;
    min-width: 138px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-brand {
  margin-left: 10px;
  padding: 0;
}

.logo {
  margin-left: 20px;
  width: 270px;
}

.navbar-default {
    background-image: none;
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: white;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav > .dropdown > .dropdown-menu {
  position: absolute;
  top: 40px;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.nav-dropdown-right {
  background-color: white !important;
}
/*
.navbar-default .navbar-nav > .open > .dropdown-menu {
  display: none !important;
}*/

.navbar-default .navbar-toggle {
    border-color: white;

}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

@media (min-width: 768px){
  .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
  }
}

@media (min-width: 768px){
  .navbar-right {
    float: right!important;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}
